In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("spam.csv", encoding="latin-1")

In [3]:
data.head(5)

,class,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
data.columns

Index(['class', 'message', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [5]:
data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'] ,axis=1, inplace=True)

In [6]:
data.head()

  class                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
data['class'] =data['class'].map({'ham':0, 'spam':1})

In [8]:
data.head()

   class                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

In [10]:
cv=CountVectorizer()

In [11]:
x=data['message']
y=data['class']

In [12]:
x.shape

(5572,)

In [13]:
y.shape

(5572,)

In [14]:
x=cv.fit_transform(x)

In [15]:
x

<5572x8672 sparse matrix of type '<class 'numpy.int64'>'
	with 73916 stored elements in Compressed Sparse Row format>

1.The Cat
2.The Dog
3.The Bird

    The Cat Dog Bird
1.   1   1   0   0
2.   1   0   1   0
3.   1   0   0   1

In [16]:
from sklearn.model_selection import train_test_split

In [45]:
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2 ,random_state=42)

In [18]:
x_train.shape

(4457, 8672)

In [19]:
from sklearn.naive_bayes import MultinomialNB

In [20]:
model=MultinomialNB()

In [21]:
model.fit(x_train, y_train)

MultinomialNB()

In [22]:
result=model.score(x_test, y_test)

In [23]:
result=result*100

In [24]:
result

98.11659192825111

In [1]:
from sklearn.svm import SVC

In [2]:
model.fit(x_train, y_train)

NameError: name 'model' is not defined

In [25]:
import pickle

In [38]:
pickle.dump(model ,open("spam.pkl","wb"))
pickle.dump(cv ,open("vectorizer.pkl","wb"))

In [39]:
clfs=pickle.load(open("vectorizer.pkl","rb"))
clf=pickle.load(open("spam.pkl","rb"))

In [40]:
clfs

CountVectorizer()

In [31]:
clf

MultinomialNB()

In [33]:
msg="Hello There"
data=[msg]
vect=cv.transform(data).toarray()
result=model.predict(vect)
print(result)

[0]

In [36]:
msg="You Won 500$"
data= [msg]
vect= cv.transform(data).toarray()
result= model.predict(vect)
print(result)

[1]

In [46]:
from sklearn.metrics import classification_report, confusion_matrix ,accuracy_score
pred=model.predict(x_train)
print(classification_report(y_train,pred))
print()
print('Confusion Matrix : \n ', confusion_matrix(y_train ,pred))
print()
print('Accuracy :', accuracy_score(y_train , pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      3860
           1       0.97      0.97      0.97       597

    accuracy                           0.99      4457
   macro avg       0.98      0.98      0.98      4457
weighted avg       0.99      0.99      0.99      4457


Confusion Matrix :
  [[3841   19]
 [  17  580]]

Accuracy : 0.9919228180390397